.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.html
03_impeachmentanalysis_markdown.html
chart_impeachholdouts_bygdp.html
chart_impeachholdouts_byprez16.html
chart_impeachholdouts_byeducation.html
